.wy-nav-content {
  max-width: 1200px;
}

h1 {
  color: firebrick;
  font-size: 40px;
}

h2 {
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: block;
  margin-top: 40px;
  font-size: 32px;
}

h3 {
  color: firebrick;
  font-size: 24px;
}

h4 {
  color:dimgray;
  font-size: 24px;
}

p {
  font-size: 18px;
  margin: 0 0 12px;
}